body{background-color:lightsalmon;}
p{color:maroon; font-size: 25px;}
.nombre{color: midnightblue; font-size: 20px;}

h1{color: rgba(40, 40, 40, 0.5); font-size: 30px; text-align:center;}
h2{color:#ffffff; font-size: 28px; text-align:center;}
h3{color: hsla(216, 100%, 20%);text-align:center;}

